*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.box{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    margin: 10px;
    /* border: 1px solid black; */
}
#nameDiv {
    display: flex;
    margin: 10px;

}
#generateRandom{
    padding:10px;
    background-color: #255ac2;
    color: white;
}